 <!-- ข้อมูลติดต่อ -->
    <div class="container-fluid px-4">
      <div class="row">
        <div class="col p-3">
          <p class="text-center">โลโก้</p>
        </div>
        <div class="col p-3">
          <p class="text-info fs-4 fw-bold">ข้อมูลติดต่อ</p>
          <hr class="border border-info border-2" />
          <p class="fs-5">www.ptc000.ac.th</p>
          <p class="fs-5">ที่อยู่</p>
          <p class="fs-5">e-mail</p>
        </div>
        <div class="col p-3">
          <p class="fs-5">เมนู1</p>
          <p class="fs-5">เมนู2</p>
          <p class="fs-5">เมนู3</p>
          <p class="fs-5">เมนู4</p>
        </div>
      </div>
    </div>
    <!-- ข้อมูลติดต่อ -->